$background-default: #131524;
$background-second: #191B2A;
$white: #ffff;
$gray-dark: #888888;
$gray-light: #d8d8d8;

// buttons
$red-dark: #851C1C;
$red-light: #FF4E4E;
$green-dark: #24851C;
$green-light: #5DFF4E;

$font-rubik: 'Rubik', sans-serif;
